


body {

    margin: 0;
    padding: 0;
    background: white;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}



.header{
    position: relative;
    background-image: url("../img/hed2.jpg");
    width: 1900px;
    height: 500px;
    overflow: hidden;
}

.girl_logo{
    position: absolute;
    width: 648px;
    height: 500px;
    left: 1200px;
    top: 0px;
}

.logo_menu{
    color: white;
    position: absolute;
    font-family: sans-serif;
    font-size: 70px;
    top: 60px;
    left: 15px;
}



.text_action {
    top: 150px;
    left: 700px;
    position: absolute;
    font-family: sans-serif;
    font-size:55px;
    color: red;
    text-align: center;
}


.text_action2 {
    top: 250px;
    left:800px;
    position: absolute;
    font-family: sans-serif;
    font-size:55px;
    color: red;
    text-align: center;

}


.tel_tex {
    position: absolute;
    top: 380px;
    left: 1100px;
    font-family: sans-serif;
    font-size: 100px;
    text-align: center;
    color: yellow;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: yellow;
}


.container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(650px, 1fr));
    grid-gap: 20px;
    font-family: sans-serif;
   text-align: left;
    font-size: 20px ;
    color: black;
}

.text_logo{

    font-size: 20px;
    font-family: Tahoma;
    background: black;
    color: white;
    text-align: center;
}

.content_menu{
    position: absolute;
    left: 500px;
}
.bot_info{
    text-align: center;
    padding: 5px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    size: 50px;
    color: black;
    background-image: none;
    cursor: pointer;
    margin: 5px;
    height: 50px;
    border-radius: 0px;

}

.fut_info{
    height: 55px;
    font-size: 15px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #5d5d5d;
    color: white;
}






@media (max-width: 575px) { ... }


@media (min-width: 576px) and (max-width: 767px) {
.container{
    justify-content: center;
}
}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) { ... }

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) { ... }

/* xl (>=1200) */
@media (min-width: 1200px) { ... }