

@media (max-width: 1440px) {
    .text_action2 {
        top: 300px;
        left: 35%;
    }
    .text_action {
        top: 210px;
        left: 25%;
    }

    .tel_tex {
        left: 35%;
    }
}

@media (max-width: 1320px){
    .menu{
        font-size: 20px;
    }
    .tel_tex {

        font-size: 95px;
    }



}

@media (max-width: 989px){



    .menu{
        font-size: 20px;
    }
    .tel_tex {

        font-size: 70px;

    }

    .text_action2 {
        top: 220px;
        left: 30%;
    }
    .text_action {
        top: 150px;
        left: 20%;
    }

    .logo_menu{
        color: white;
        position: absolute;
        font-family: sans-serif;
        font-size: 40px;
        top: 60px;
        left: 15px;
    }


    .container{

        display: grid;
        grid-template-columns: 1fr  ;


    }
img{
    height: 100px;
}

}


@media (max-width: 768px){


    .logo_menu{
        color: white;
        position: absolute;
        font-family: sans-serif;
        font-size: 30px;
        top: 60px;
        left: 15px;
    }

    .text_action2 {
        top: 210px;
        left: 15%;
    }
    .text_action {
        top: 140px;
        left: 1%;
    }

    .tel_tex {
        top:10%;
        left: 30%;
        font-size: 50px;

    }

    .label_home{
        font-size: 20px;
        position: relative;
        left: 60%;
    }



}


@media (max-width: 690px){
    .tan_logo,.tablet_logo,.key_logo
    {
        height: 350px;
    }

    .tel_tex {
        top:10%;
        left: 35%;
        font-size: 45px;

    }

    .text_action2 {
        font-size: 40px ;
        top: 210px;
        left: 15%;
    }
    .text_action {
        font-size:40px ;
        top: 140px;
        left: 1%;
    }
    .girl_logo{
        display: none;
    }

}

@media (max-width: 500px){
    .content_menu{display: none;}

    .tan_logo,.tablet_logo,.key_logo
    {
        height: 250px;
    }




    .tel_tex {
        top:43%;
        left: 10%;
        font-size: 45px;

    }

    .text_action2 {
        font-size: 40px ;
        top: 170px;
        left: 15%;
    }
    .text_action {
        font-size:35px ;
        top: 128px;
        left: 1%;
    }
    .girl_logo{
        display: none;
    }

    .btn_menu{
        display: block;
    }
    .fut_info {
        margin: 0px 15px 10px 20px;
        height: 90px;
        font-size: 15px;
        font-family: sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: #5d5d5d;
        color: white;
    }


}


@media (max-width: 375px){



    .label_home{
        font-size: 20px;
        position: relative;
        left: 50%;
    }

    .tel_tex {
        top:43%;
        left: 0%;
        font-size: 45px;

    }

    .text_action {
        font-size:29px ;
        top: 128px;
        left: 1%;
    }

    .fut_info {

        font-size: 12px;

    }

}






