
/*
@media (max-width: 1639px)  {
    .content_menu{
        width:100%;
    }
    .girl_logo{
        left: 80%;
    }
    .tel_tex{
        left: 870px;
    }
}

@media (max-width: 1600px)  {
    .content_menu{
        width: 100%;
    }
.girl_logo{
    left: 80%;
}
.tel_tex{
    left: 870px;
}
}



@media (max-width: 992px)  {

}

